@model service_tracker_mvc.Models.Invoice
@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset><legend>Invoice</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServiceDate)
            @Html.ValidationMessageFor(model => model.ServiceDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SiteId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SiteId, (IEnumerable<SelectListItem>)ViewBag.Sites)
            @Html.ValidationMessageFor(model => model.SiteId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ServicerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ServicerId, (IEnumerable<SelectListItem>)ViewBag.Servicers)
            @Html.ValidationMessageFor(model => model.ServicerId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FrtBill)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FrtBill)
            @Html.ValidationMessageFor(model => model.FrtBill)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.KeyRec)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KeyRec)
            @Html.ValidationMessageFor(model => model.KeyRec)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseOrder)
            @Html.ValidationMessageFor(model => model.PurchaseOrder)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div class="actions">
    @Html.ActionLink("Back to List", "Index")
</div>
