@model service_tracker_mvc.Models.Invoice
@{
    ViewBag.Title = "Details";
}
<h2>Invoice | @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId })</h2>
    <div class='pair'>
        <div class="display-label">
            @Html.LabelFor(model => model.ServiceDate)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ServiceDate)
        </div>
    </div>
    <div class='pair'>
        <div class="display-label">
            @Html.LabelFor(model => model.FrtBill)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FrtBill)
        </div>
    </div>
    <div class='pair'>
        <div class="display-label">
            @Html.LabelFor(model => model.KeyRec)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.KeyRec)
        </div>
    </div>
    <div class='pair'>
        <div class="display-label">
            @Html.LabelFor(model => model.PurchaseOrder)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PurchaseOrder)
        </div>
    </div>
    <div class='clear' >&nbsp;</div>
    <table>
        <tr>
            <th>Product</th>
            <th>Comment</th>
            <th>Service</th>
            <th>SKU</th>
            <th class='number'>Quantity</th>
            <th class='number'>Unit Price</th>
            <th class='number'>Total</th>
        </tr>
        @foreach (var Item in Model.Items)
        {
            <tr>
                <td>@Item.Product.Manufacturer - @Item.Product.Description</td>
                <td>@Item.Comment</td>
                <td>@Item.Service.Description</td>
                <td>@Item.Service.Sku</td>
                <td class='number'>@Item.Quantity</td>
                <td class='number'>@Html.DisplayFor(model => Item.Service.Cost)</td>
                <td class='number'>@Html.DisplayFor(model => Item.Total)</td>
            </tr>
        }
        <tr>
            <th class='number' colspan="5">@Html.DisplayFor(model=>model.Quantity)</th>
            <th class='number' colspan="2">@Html.DisplayFor(model => model.Total)</th>
        </tr>
    </table>
<p style='margin-top:15px'>
    @Html.ActionLink("Back to List", "Index")
</p>
