@model service_tracker_mvc.Models.Invoice
@{
    ViewBag.Title = "Invoice " + Model.InvoiceId + " - Details";
}
<h2>Invoice @Model.InvoiceId</h2>
<div class="clearfix">
    <div class='pair'>
        <div class="display-label">
            @Html.LabelFor(model => model.ServiceDate)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ServiceDate)
        </div>
    </div>
    <div class='pair'>
        <div class="display-label">
            @Html.LabelFor(model => model.FrtBill)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FrtBill)
        </div>
    </div>
    <div class='pair'>
        <div class="display-label">
            @Html.LabelFor(model => model.KeyRec)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.KeyRec)
        </div>
    </div>
    <div class='pair'>
        <div class="display-label">
            @Html.LabelFor(model => model.PurchaseOrder)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PurchaseOrder)
        </div>
    </div>
    </div>
    <table class='data-table ui-widget'>
        <tr>
            <th class='ui-state-default'>Product</th>
            <th class='ui-state-default'>Comment</th>
            <th class='ui-state-default'>Service</th>
            <th class='ui-state-default'>SKU</th>
            <th class='ui-state-default number'>Quantity</th>
            <th class='ui-state-default number'>Unit Price</th>
            <th class='ui-state-default number'>Total</th>
        </tr>
        @foreach (var Item in Model.Items)
        {
            <tr>
                <td class='ui-widget-content'>@Item.Product.Manufacturer - @Item.Product.Description</td>
                <td class='ui-widget-content'>@Item.Comment</td>
                <td class='ui-widget-content'>@Item.Service.Description</td>
                <td class='ui-widget-content'>@Item.Service.Sku</td>
                <td class='ui-widget-content number'>@Item.Quantity</td>
                <td class='ui-widget-content number'>@Html.DisplayFor(model => Item.Service.Cost)</td>
                <td class='ui-widget-content number'>@Html.DisplayFor(model => Item.Total)</td>
            </tr>
        }
        <tr>
            <th class='ui-widget-content number' colspan="5">@Html.DisplayFor(model=>model.Quantity)</th>
            <th class='ui-widget-content number' colspan="2">@Html.DisplayFor(model => model.Total)</th>
        </tr>
    </table>
<div class="actions">
    @Html.ActionLink("Back to List", "Index")
    @if(User.IsInRole("Manager")){
        <text>|</text> @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId, from = "details" })
    }
</div>