@model service_tracker_mvc.Models.Invoice
@{
    ViewBag.Title = Model.InvoiceId > 0 ? "Invoice " + Model.InvoiceId + " - Edit" : "Invoice - New - ";
}
<h2>@(Model.InvoiceId > 0? "Edit Invoice" : "New Invoice")</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script>
    $(function () {
        $('.affects-calculation').change(function () {
            var $row = $(this).closest('tr');
            var cost = $row.find('.calc-cost option:selected').data('cost');
            var qty = parseFloat($row.find('.calc-quantity').val());

            var total = cost * qty;

            $row.find('.calc-output-cost').text(formatMoney(cost));
            $row.find('.calc-output-total').text(formatMoney(total));
        });

        $('.calc-quantity').change();

        var UpdateGrandTotals = function () {
            var GrandQuantity = 0, GrandTotal = 0;
            $('.calc-quantity').each(function () { GrandQuantity += parseFloat($(this).val()); });
            $('.calc-output-total').each(function () { GrandTotal += parseFloat($(this).text()); });

            $('.calc-output-grand-quantity').text(formatMoney(GrandQuantity));
            $('.calc-output-grand-total').text(formatMoney(GrandTotal));
        };
        UpdateGrandTotals();
        $('.affects-calculation').change(UpdateGrandTotals);

        $('#edit-form').submit(function () {
            // remove incomplete items
            $(this).find('tr')
                   .has('select.skip-row-if-missing option[value=]:selected')
                   .find('input,select,textarea')
                     .attr('disabled', 'disabled');
        });
    });
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { id = "edit-form" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.InvoiceId)
    <div class='pair'>
        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceDate)
        </div>
        <div class="editor-field date">
            @Html.EditorFor(model => model.ServiceDate)
            @Html.ValidationMessageFor(model => model.ServiceDate)
        </div>
    </div>    
    <div class='pair'>
        <div class="editor-label">
            @Html.LabelFor(model => model.ServicerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ServicerId, (IEnumerable<SelectListItem>)ViewBag.Servicers)
            @Html.ValidationMessageFor(model => model.ServicerId)
        </div>
    </div>    
    <div class='pair'>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CustomerId, (IEnumerable<SelectListItem>)ViewBag.Customers)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>
    </div>    
    <div class='pair'>
        <div class="editor-label">
            @Html.LabelFor(model => model.KeyRec)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KeyRec)
            @Html.ValidationMessageFor(model => model.KeyRec)
        </div>
    </div>    
    <div class='pair'>
        <div class="editor-label">
            @Html.LabelFor(model => model.FrtBill)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FrtBill)
            @Html.ValidationMessageFor(model => model.FrtBill)
        </div>
    </div>    
    <div class='pair' style='margin-right:0'>
        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseOrder)
            @Html.ValidationMessageFor(model => model.PurchaseOrder)
        </div>
    </div>    
    <hr style="clear:both; padding:10px 0px; color:#fff; border-color: transparent"/>
    <table class='clear data-table'>
        <tr>
            <th>Product</th>
            <th>Comment</th>
            <th>Service</th>
            <th class='number'>Quantity</th>
            <th class='number'>Unit Price</th>
            <th class='number'>Total</th>
        </tr>
        @for (int i = 0; i < Model.Items.Count; ++i)
        {
            var index = i;
            <tr>
                <td>@Html.Hidden("Items.Index", index.ToString())
                    @Html.HiddenFor(m => m.Items[index].InvoiceId)
                    @Html.HiddenFor(m => m.Items[index].InvoiceItemId)
                    @Html.DropDownListFor(m => m.Items[index].ProductId, new SelectList(ViewBag.Products, "Value", "Text", Model.Items[index].ProductId), "", new { @class = "skip-row-if-missing" })</td>
                <td>@Html.EditorFor(m => m.Items[index].Comment)</td>
                <td>@Html.ExtendedDropDownListFor(m => m.Items[index].ServiceId, (IEnumerable<ExtendedSelectListItem>)ViewBag.Services, "", new { @class = "calc-cost affects-calculation" }, Model.Items[index].ServiceId)</td>
                <td class='number'>@Html.TextBoxFor(m => m.Items[index].Quantity, new { @class = "calc-quantity affects-calculation" })</td>
                <td class='number'><span class='calc-output-cost'>(cost)</span></td>
                <td class='number'><span class='calc-output-total'>(total)</span></td>
            </tr>
        }
        <tr>
            <th class='number' colspan="4"><span class='calc-output-grand-quantity'></span></th>
            <th class='number' colspan="2"><span class='calc-output-grand-total'></span></th>
        </tr>
    </table>
    <div class='actions'>
    @switch (Request["from"])
    {
        case "details":
            @Html.ActionLink("Cancel", "Details", new { Id = Model.InvoiceId })
            break;

        default:   
            @Html.ActionLink("Cancel", "Index")
            break;
    }
        @Html.ActionLink("Delete", "Delete", new { Id = Model.InvoiceId }, new { style = "float:right" }) |
        <input type="submit" value="Save" />
    </div>
}