@model IEnumerable<service_tracker_mvc.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ServiceDate
        </th>
        <th>
            FrtBill
        </th>
        <th>
            KeyRec
        </th>
        <th>
            PurchaseOrder
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrtBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyRec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceId })
        </td>
    </tr>
}

</table>
