@model IEnumerable<service_tracker_mvc.Models.Invoice>

@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Customer
        </th>
        <th>
            Servicer
        </th>
        <th>
            Service Date
        </th>
        <th>
            FRT Bill
        </th>
        <th>
            Key Rec
        </th>
        <th>
            PO
        </th>
        <th>
            Quantity
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrtBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyRec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceId })
        </td>
    </tr>
}

</table>
