@model service_tracker_mvc.Models.Site
@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="clearfix">
        <div class="pair">
            <div class="editor-label">
                @Html.LabelFor(model => model.OrganizationId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.Organizations)
                @Html.ValidationMessageFor(model => model.OrganizationId)
            </div>
        </div>
        <div class="pair">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="pair">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="pair">
            <input type="submit" value="Create" />
        </div>
    </div>     
}
<div class="actions">
    @Html.ActionLink("Back to List", "Index")
</div>
