@model service_tracker_mvc.Models.Site
@{
    ViewBag.Title = "Delete";
}
@if (!string.IsNullOrEmpty(ViewBag.DeleteError))
{
    <h3>Sorry!</h3>
    <p>@ViewBag.DeleteError</p>
    <p>@Html.ActionLink("Back to List", "Index")</p>    
}
else
{
    <h3>Are you sure you want to delete this?</h3>
    <fieldset><legend>Store</legend>
        <div class="display-label">
            Name</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-label">
            Address</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>
    </fieldset>
    using (Html.BeginForm())
    {
    <p>
        <input type="submit" class="confirm-no-undo" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
    }
}