@model IEnumerable<service_tracker_mvc.Models.Site>

@{
    ViewBag.Title = "Index";
}

<h2>Stores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class='data-table ui-widget'>
    <tr>
        <th class='ui-state-default'>
            Name
        </th>
        <th class='ui-state-default'>
            Address
        </th>
        <th class='ui-state-default number'></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class='ui-widget-content'>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class='ui-widget-content'>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td class='ui-widget-content number'>
            @Html.ActionLink("Edit", "Edit", new { id=item.SiteId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SiteId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SiteId })
        </td>
    </tr>
}
</table>
<div class="actions">@Html.ActionLink("Back", "Index", "Setting")</div>