@model service_tracker_mvc.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Service</legend>

    <div class="display-label">Sku</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sku)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Cost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cost)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ServiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
