@model IEnumerable<service_tracker_mvc.Models.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Services</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="data-table ui-widget">
    <tr>
        <th class='ui-state-default'>
            Sku
        </th>
        <th class='ui-state-default'>
            Description
        </th>
        <th class='ui-state-default number'>
            Cost
        </th>
        <th class='ui-state-default number'></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class='ui-widget-content'>
            @Html.DisplayFor(modelItem => item.Sku)
        </td>
        <td class='ui-widget-content'>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class='ui-widget-content number'>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td class='ui-widget-content number'>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceId })
        </td>
    </tr>
}
</table>
<div class="actions">@Html.ActionLink("Back", "Index", "Setting")</div>