@model service_tracker_mvc.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">ClaimedIdentifier</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClaimedIdentifier)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">RoleId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleId)
    </div>

    <div class="display-label">FirstLogin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstLogin)
    </div>

    <div class="display-label">LastLogin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLogin)
    </div>

    <div class="display-label">LoginCount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoginCount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="confirm-no-undo" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
