@using service_tracker_mvc.Models;
@using service_tracker_mvc.Classes;
@using service_tracker_mvc.Extensions;
@model service_tracker_mvc.Models.User
@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset><legend>User</legend>
        @Html.HiddenFor(model => model.UserId)
        <div class="editor-label">
            @Html.LabelFor(model => model.ClaimedIdentifier)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ClaimedIdentifier)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RoleId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RoleId, MvcExtensions.ToSelectList<RoleType>(Model.RoleId.ToString()))
            @Html.ValidationMessageFor(model => model.RoleId)
        </div>
        <div id='associated-servicer'>
            <div class="editor-label">
                @Html.LabelFor(model => model.ServicerId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.ServicerId, (IEnumerable<SelectListItem>)ViewBag.Servicers, "")
                @Html.ValidationMessageFor(model => model.ServicerId)
            </div>
        </div>
        <div id='associated-organization'>
            <div class="editor-label">
                @Html.LabelFor(model => model.OrganizationId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.Organizations, "")
                @Html.ValidationMessageFor(model => model.OrganizationId)
            </div>
        </div>
        <p class="actions">
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div class="actions">
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(function () {
        var $employeeSections = $('#associated-servicer');
        var $organizationSections = $('#associated-organization');
        console.log($employeeSections);
        var roleChanged = function (speed) {
            var roleId = Number($('#RoleId').val());

            switch (roleId) {
                case @Html.Encode((int)RoleType.Customer):
                    $employeeSections.slideUp(speed);
                    $organizationSections.slideDown(speed);
                    break;
                case @Html.Encode((int)RoleType.Employee):
                    $employeeSections.slideDown(speed);
                    $organizationSections.slideUp(speed);
                    break;
                default:
                    console.log('neither: ' + roleId);
                    $employeeSections.slideUp(speed);
                    $organizationSections.slideUp(speed);
            }
        };

        $('#RoleId').change(function(){ roleChanged(200); });
        roleChanged(0);
    });
</script>
