@model service_tracker_mvc.Models.User
@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.Title = "Edit";
}
@if (this.ViewContext.FormContext == null) { this.ViewContext.FormContext = new FormContext(); }
@if (Model != null && Model.UserId > 0)
{
    @Html.HiddenFor(model => model.UserId)    
}

@if (!string.IsNullOrEmpty(Model.ClaimedIdentifier))
{ 
    @Html.Partial("PairEditor", new PairEditor()
    {
        Label = Html.LabelFor(model => model.ClaimedIdentifier),
        Editor = new MvcHtmlString(
            string.Format("<span title='{0}'>{1}</span>",
                Html.AttributeEncode(Model.ClaimedIdentifier),
                Html.Encode(Model.ClaimedIdentifier.PrettifyUrl()))),
        Validation = null
    })
}
else { 
    @Html.Partial("PairEditor", new PairEditor()
    {
        Label = Html.LabelFor(model => model.InvitationCode),
        Editor = new MvcHtmlString("<em>Invitation Sent</em>" + " (" + Html.ActionLink("send again", "SendInvite", new { Id = Model.UserId }).ToHtmlString() + ")"),
        Validation = null
    })
}
@Html.Partial("PairEditor", new PairEditor()
{
    Label = Html.LabelFor(model => model.Email),
    Editor = Html.DisplayFor(model => model.Email),
    Validation = null
})

@section Actions{
    <input type="submit" name="Save" value="Save" />
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Invitation Log", "Log", new { Id = Model.UserId })
    @Html.ActionLink("Delete", "Delete", new { Id = Model.UserId }, new { style = "float:right" })
}
