@using service_tracker_mvc.Models
@using service_tracker_mvc.Classes
@model IEnumerable<service_tracker_mvc.Models.User>
@{
    ViewBag.Title = "Index";
}
<h2>Logins</h2>
<table class="data-table ui-widget">
    <thead>
        <tr>
            <th class='ui-state-default'>ID </th>
            <th class='ui-state-default'>Email </th>
            <th class='ui-state-default'>Role </th>
            <th class='ui-state-default'>Association</th>
            <th class='ui-state-default'>First Login (UTC) </th>
            <th class='ui-state-default'>Last Login (UTC) </th>
            <th class='ui-state-default number'>Login Count </th>
            <th class='ui-state-default number'></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class='ui-widget-content' title="@Html.AttributeEncode(item.ClaimedIdentifier)">
                @item.ClaimedIdentifier.Replace("https://", "").Replace("http://", "").Replace("www.", "").Left(15)
            </td>
            <td class='ui-widget-content'>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class='ui-widget-content'>
                @((RoleType)item.RoleId)
            </td>
            <td class='ui-widget-content'>
                @if (item.RoleId == (int)RoleType.Employee && item.Servicer != null)
                {
                    <span title="Employee" class="ui-icon ui-icon-person" style="display:inline-block"></span> @item.Servicer.Name.Left(15)
                }
                else if (item.RoleId == (int)RoleType.Customer && item.Organization != null)
                {
                    <span title="Organization" class="ui-icon ui-icon-cart" style="display:inline-block"></span> @item.Organization.Name.Left(15)
                }
            </td>
            <td class='ui-widget-content'>
                @Html.DisplayFor(modelItem => item.FirstLogin)
            </td>
            <td class='ui-widget-content'>
                @Html.DisplayFor(modelItem => item.LastLogin)
            </td>
            <td class='ui-widget-content number'>
                @Html.DisplayFor(modelItem => item.LoginCount)
            </td>
            <td class='ui-widget-content number'>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId })
            </td>
        </tr>
    }
    </tbody>
</table>
