@{
    ViewBag.Title = "Index";
}
@Script.AddJavaScript("~/Scripts/jquery.openid.min.js")
<script>
    $(function () {
        $('#openid')
            .children(":not([name=ReturnUrl],[name=InvitationCode])").remove().end()
            .openid({ img_path: '@Url.Content("~/Content")' });
    });
</script>
<h2>Welcome!</h2>
@if (ViewData["Message"] != null)
{ 
    <div>
        @ViewData["Message"].ToString()
    </div>
}
<p>Please log in:</p>
@using (Html.BeginForm("Authenticate", "User", FormMethod.Post, new { id = "openid" }))
{
    @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
    @Html.Hidden("InvitationCode", Request["InvitationCode"])
    <input id="openid_identifier" name="openid_identifier" />
    <input type="submit" value="Login" />
}
<div class='ui-widget ui-corner-all' style='display:none;width:50%;margin:0 auto;'>
    <div class='expand-next-element ui-widget-header' style='padding:5px; cursor:pointer'>
        What if I don't have one of those accounts?</div>
    <div class='ui-widget-content' style='padding:5px'>
        <p>This site lets you login with accounts from other sites (do you <em>really</em>
        want another password to remember?).</p>
        <p>You can signup for a <a href="https://www.myopenid.com/signup?affiliate_id=79263?openid.sreg.required=email" class='button'>
            new account</a>, though, if you prefer.</p>
    </div>
</div>
