@model service_tracker_mvc.Models.Servicer
@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ServicerId)
    <div class="clearfix">
        <div class="pair">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="pair">
            <input type="submit" value="Save" />
        </div>
    </div>       
}
<div class="actions">
    @Html.ActionLink("Back to List", "Index")
</div>
