<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <!--    **********
            HEY THERE! 
            **********

            Interested in how this thing is made? Have I got some good news for you!
            This whole thing is open source. Seriously!:
              
              https://github.com/mharen/service-tracker

            If you are just interested in what makes it tick, a brief list of the tools that make it tick
            can be found here:
              
              @Url.ToPublicUrl(Url.Action("About", "Home"))

            Enjoy!
    -->
    <title>@ViewBag.Title - Service Tracker</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="@Url.VersionedContent("~/Content/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.VersionedContent("~/Content/apple-touch-icon.png")">
    @Script.AddCss("~/Content/style.css")
    @Script.OutputCss()
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery) {
            // loading via CDN failed...try local copies instead
            document.write(unescape('%3Clink rel="stylesheet" type="text/css" href="@Url.VersionedContent("~/Content/themes/base/jquery.ui.all.css")" /%3E'));
            document.write('<script src="@Url.VersionedContent("~/Scripts/jquery-1.7.1.min.js")">\x3C/script>');
            document.write('<script src="@Url.VersionedContent("~/Scripts/jquery-ui-1.8.18.min.js")">\x3C/script>')
        }
    </script>
    @Script.AddJavaScript("~/Scripts/modernizr-2.5.3.js")
    @Script.AddJavaScript("~/Scripts/script.js")
    @Script.OutputJavaScript()
    @RenderSection("AdditionalScripts", required: false)
</head>
<body>
        @{
            var message = TempData["Message"] ?? ViewData["Message"] ?? "";
        }
        @if (message != "")
        {
        <div id="message" class="ui-corner-bottom ui-widget">
            <div class="ui-widget-content ui-state-highlight">@message</div>
        </div>
        }
    <div id="container">
        <header>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="title">
                <h1>@Html.ActionLink("Service Tracker", "Index", "Home")</h1>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    @if (User.IsInRole("Customer"))
                    { 
                    <li class="ui-state-default ui-corner-top @Html.ActiveTab("Invoice", new string[] { "Index", "Edit", "Details", "Delete", "Report" })">@Html.ActionLink("Invoices", "Index", "Invoice")</li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                    <li class="ui-state-default ui-corner-top @Html.ActiveTab("Invoice", new string[] { "Create" })">@Html.ActionLink("New Invoice", "Create", "Invoice")</li>
                    <li class="ui-state-default ui-corner-top @Html.ActiveTab("Setting")@Html.ActiveTab("Site")@Html.ActiveTab("Organization")@Html.ActiveTab("Service")@Html.ActiveTab("Servicer")@Html.ActiveTab("User")">@Html.ActionLink("Settings", "Index", "Setting")</li>
                    }
                    <li class="ui-state-default ui-corner-top @Html.ActiveTab("Home")">@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </header>
        <div id="main" class="clear" role="main">
            @RenderBody()
        </div>
        <footer>
            @Html.Partial("FooterPartial")
        </footer>
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30048309-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    @if (service_tracker_mvc.App_Start.MiniProfilerStartupModule.IsCurrentRequestProfiled(HttpContext.Current.Request)) { 
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    }
</body>
</html>
