<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.17.min.js")" type="text/javascript"></script>
    <script>
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        function formatMoney(n) {
            return (isNumber(n) ? n : 0).toFixed(2);
        }
        $(function () {
            $("input[type=date]").datepicker();
        });
    </script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Service Tracker</h1>
            </div>
@*            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>*@
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Data Entry", "Index", "Invoice")</li>
                    <li>@Html.ActionLink("Reports", "Index", "Invoice")</li>
                    <li>@Html.ActionLink("Settings", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @if (Request.QueryString["debug"] == "1")
    {
        <!--
        @foreach (System.Configuration.ConnectionStringSettings connection in System.Configuration.ConfigurationManager.ConnectionStrings)
        {
            string connectionStringName = connection.Name;
            string connectionString = connection.ConnectionString;
            string providerName = connection.ProviderName;
            <text>
                @connection.Name: @connectionString.Substring(0, 30)
                Provider: @providerName
            </text>
        }
    -->
    }
</body>
</html>
