@{
    ViewBag.Title = "Configuration";
}

<h2>Configuration</h2>
<ul>
    <li>@Html.ActionLink("Manage Stores", "Index", "Site")</li>
    <li>@Html.ActionLink("Manage Products", "Index", "Product")</li>
    <li>@Html.ActionLink("Manage Services", "Index", "Service")</li>
    <li>@Html.ActionLink("Manage Employees", "Index", "Servicer")</li>
    <li>@Html.ActionLink("Manage Logins", "Index", "User")</li>
</ul>