@model IEnumerable<service_tracker_mvc.Models.InvoiceItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Quantity
        </th>
        <th>
            Comment
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceItemId })
        </td>
    </tr>
}

</table>
