@model service_tracker_mvc.Models.Customer
@{
    ViewBag.Title = "Edit";
}
<script src="@Url.VersionedContent("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.VersionedContent("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.CustomerId)
    <div class="clearfix">
        <div class="pair">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="pair">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="pair">
            <div class="editor-label">
                @Html.LabelFor(model => model.VendorNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.VendorNumber)
                @Html.ValidationMessageFor(model => model.VendorNumber)
            </div>
        </div>
        <div class="pair">
            <p>
                <input type="submit" value="Save" />
            </p>
        </div>
    </div>
}
<div class="actions">
    @Html.ActionLink("Back to List", "Index")
</div>
